body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6642D2, #34226C);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 200px;
    height: auto;
}

.container {
    width: 45%;
    margin: 20px auto;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

label {
    font-weight: bold;
    font-size: 0.9rem;
}

input[type="number"] {
    width: 98%;
    padding: 6px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 6px;
    background-color: #04cd00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
}

button:hover {
    background-color: #039a00;
}

table {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
    font-size: 0.8rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 6px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        width: 75%;
        max-height: none;
    }

    th, td {
        padding: 5px;
    }

    input[type="number"], button {
        padding: 5px;
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.2rem;
    }
    
    .logo img {
        width: 0px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 85%;
        margin: 15px auto; 
        max-height: none;
    }

    h1 {
        font-size: 1rem;
    }

    th, td {
        padding: 4px;
        font-size: 0.7rem; 
    }

    input[type="number"], button {
        padding: 4px;
        font-size: 0.7rem;
    }
    
    .logo img {
        width: 0px;
    }
}
